body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
nav {
    text-align: center;
    margin-bottom: 20px;
}
nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.section {
    padding: 50px 0;
}
.section-header {
    margin-bottom: 40px;
}
.portfolio-item {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.portfolio-item h3 {
    margin-top: 0;
}
.portfolio-item p {
    margin-bottom: 10px;
}
img{
    height: 200px;
    width: 200px;
}
